body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(62, 62, 63);
    color:  rgb(182, 235, 235);
    padding: 20px;
    text-align: center;
}
nav{
    background-color: rgb(216, 216, 216);
    border: 1px solid rgb(56, 55, 55);
    overflow: auto;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li{
    float: left;
}
nav a{
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav a:hover{
    background-color: rgb(216, 147, 213);
}

nav button{
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav button:hover{
background-color: rgb(216, 147, 213);
}
footer{
    color: rgb(232, 237, 241);
    background-color: rgb(36, 35, 35);
    text-align: center;
}
footer a{
    color: aliceblue;
    padding: 20px;
    text-align: center;
    
}
footer .direitos{
    color: rgb(255, 255, 255);
    padding-top: 40px;
    padding-bottom: 0px;
    
}
.carrossel{
    width: 300px;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
}
.container-imagens{
    width: 900px;
    height: 200px;
    white-space: nowrap;
    font-size: 0;
}
img{
    width: 300px;
    height: 200px;
    display: inline-block;
}
/*Animação do carrossel*/
@keyframes carrossel{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-300px);
    }
    100%{
        transform: translateX(-600px)
    }
}
.container-imagens img{
    animation: carrossel 10s linear infinite;
}